version: "3"
services:
  app:
    build:
      context: .
      dockerfile: src/main/docker/Dockerfile
    environment:
      QUARKUS_DATASOURCE_JDBC_URL: jdbc:postgresql://database:5432/todos
    ports:
      - "8080:8080"
    links:
      - database
  database:
    image: postgres:14-alpine
    environment:
      POSTGRES_USER: "todos"
      POSTGRES_PASSWORD: "password"
    ports:
      - "5432:5432"
