{@java.util.List<todos.Todo> todos}

{#include base} 
  {#title}Quarkus/Hotwire • TodoMVC{/title} 
  {#body} 
  <header class="header">
    <h1>todos</h1>
    <form action="/todos" method="POST">
        <input class="new-todo" name="title" placeholder="What needs to be done?" autofocus>
    </form>
  </header>
  <section class="main">
    <form action="/todos/toggle-all" method="POST">
      <button type="submit" id="toggle-all" class="toggle-all"></button>
      <label for="toggle-all">Mark all as complete</label>
    </form>
    <ul class="todo-list">
      {#for todo in todos}
        <li class="{todo.completed ? 'completed' : ''}" data-controller="todo" data-todo-target="item">
          <div class="view">
            <input class="toggle" type="checkbox" {#if todo.completed}checked{/if}>
            <label data-action="click->todo#showEdit">{todo.title}</label>
            <form action="/todos/{todo.id}/delete" method="POST">
              <button type="submit" class="destroy"></button>
            </form>
          </div>
          <form action="/todos/{todo.id}" method="POST">
            <input class="edit" name="title" value="{todo.title}" data-todo-target="edit" data-action="blur->todo#hideEdit keyup->todo#keyup">
          </form>
        </li>
      {/for}
    </ul>
  </section>
  <footer class="footer">
    <span class="todo-count">
      <strong>{todos.size()}</strong> {todos.size() > 1 ? 'items' : 'item'} left
    </span>
    <ul class="filters">
      <li>
        <a class="{all ? 'selected' : ''}" href="/todos">All</a>
      </li>
      <li>
        <a class="{active ? 'selected' : ''}" href="/todos/active">Active</a>
      </li>
      <li>
        <a class="{completed ? 'selected' : ''}" href="/todos/completed">Completed</a>
      </li>
    </ul>
    <form action="/todos/clear-completed" method="POST">
      <button class="clear-completed">Clear completed</button>
    </form>
  </footer>
  {/body}
{/include}